@import "tailwindcss";

body {
  font-family: "poppins", sans-serif;
  color: #0a0723;
  background-color: #f8faf9;
}
@theme {
  --font-poppins: var(--font-poppins);
  --color-primary: #2f6a62;
  --color-secondary: #0a0723;
  --color-gray-outline: #eaecee;
}

@utility no-focus {
  @apply shadow-none outline-none focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0;
}
